<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 376px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://storage.googleapis.com/ocular-laser.appspot.com/assets/a4aa87f4-2a47-4d34-8e8f-9ccc83cdd509-ocular-logo.jpeg?GoogleAccessId=firebase-adminsdk-7equ7%40ocular-laser.iam.gserviceaccount.com&Expires=16447028400&Signature=LUZrrIcMQsRi%2BEJTl0WfY1znSJCtdSi31HiSPmF0pc9%2BLZxTGDL9oOJ372oI62EqFqtT0CDlZEgqibhAkES3QbFsyujOzYWpHbABmXrOYTz106TKK%2FnwsB9Dy%2BVsYPVuoAwtK7WnB6pmgytFmxzkX4AADTNgx9cYliShDWiKih8Kcl%2FxRjMtAeRZSh5iK36kw3q91F6x9FM7v7oc1BUb8N2ZnDzdBPv0fqw3gNcO1Gt%2F6lKcIz6oWo7%2FRJGCLE1frXpylDESlQ22NBl3vb%2FQ6Y%2Buib1WBAhtnQKW2VnhcVW67jwwu8dWItWuXXvgkf2vI%2BXk3kYpDeoCAXe1vh6qbA%3D%3D" alt="logo ocular-laser">
        </span>

        <div id="content">
            <span>Prezado paciente,</span>

            <span>
                <p>
                    É com grande satisfação que informamos que você foi aprovado em seus exames e está pronto para prosseguir com a cirurgia de correção visual a laser.
                </p>
            </span>
            
            <span>Aqui estão os próximos passos:</span>

            <span>
                <p>
                    1. Agendamento: Nossa equipe entrará em contato para agendar a data e hora da sua cirurgia. Certifique-se de estar disponível e prontamente comprometido com o agendamento.
                </p>
            </span>
            <span>
                <p>
                   2. Preparação pré-operatória: Continue seguindo as orientações pré-operatórias que fornecemos anteriormente, especialmente as relacionadas à medicação, jejum e cuidados oculares.
                </p>
            </span>

            <span>
                <p>
                    3. Dúvidas: Se tiver alguma dúvida ou preocupação, não hesite em nos contatar. Estamos aqui para garantir que você se sinta confortável e bem informado sobre o procedimento.
                </p>
            </span>
            
            <span>
                <p>
                    4. Acompanhamento pós-operatório: Após a cirurgia, você terá consultas de acompanhamento para garantir uma recuperação suave e monitorar sua visão em evolução.
                </p>
            </span>

            <span>
                <p>
                    Agradecemos pela confiança em nossa equipe e estamos ansiosos para ajudá-lo a alcançar a visão clara que você deseja. Em breve, você estará desfrutando dos benefícios da cirurgia de correção visual a laser.
                </p>
            </span>

            <span>
                Atenciosamente,
            </span>

            {{!-- <span>[Seu Cirurgião Oftalmológico]</span> --}}
        </div>
    </div>
</body>
</html>