<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 376px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://storage.googleapis.com/ocular-laser.appspot.com/assets/a4aa87f4-2a47-4d34-8e8f-9ccc83cdd509-ocular-logo.jpeg?GoogleAccessId=firebase-adminsdk-7equ7%40ocular-laser.iam.gserviceaccount.com&Expires=16447028400&Signature=LUZrrIcMQsRi%2BEJTl0WfY1znSJCtdSi31HiSPmF0pc9%2BLZxTGDL9oOJ372oI62EqFqtT0CDlZEgqibhAkES3QbFsyujOzYWpHbABmXrOYTz106TKK%2FnwsB9Dy%2BVsYPVuoAwtK7WnB6pmgytFmxzkX4AADTNgx9cYliShDWiKih8Kcl%2FxRjMtAeRZSh5iK36kw3q91F6x9FM7v7oc1BUb8N2ZnDzdBPv0fqw3gNcO1Gt%2F6lKcIz6oWo7%2FRJGCLE1frXpylDESlQ22NBl3vb%2FQ6Y%2Buib1WBAhtnQKW2VnhcVW67jwwu8dWItWuXXvgkf2vI%2BXk3kYpDeoCAXe1vh6qbA%3D%3D" alt="logo ocular-laser">
        </span>

        <div id="content">
            <span>Seu pagamento foi aprovado!</span>

            <span>
                <p>
                    Ficamos felizes em informar que o seu pagamento foi aprovado com sucesso. Agradecemos pela sua cooperação e confiança.
                </p>
            </span>
            <span>
                <p>
                    Logo nossa equipe cirúrgica entrará em contato para estar lhe enviando mais informações a respeito do seu procedimento, juntamente com orientações pré e pós operatórias.
                </p>
            </span>

            <span>
                Em caso de dúvidas, nosso suporte está à disposição para esclarecimentos! 
            </span>
            <span>
                contato@ocularlaserbrasil.com
            </span>
        </div>
    </div>
</body>
</html>