<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 376px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://i.imgur.com/4UOQkue.jpeg" alt="logo ocular-laser">
        </span>

        <div id="content">
            <span>Seu pagamento foi aprovado!</span>

            <span>
                <p>
                    Ficamos felizes em informar que o seu pagamento foi aprovado com sucesso. Agradecemos pela sua cooperação e confiança.
                </p>
            </span>
            <span>
                <p>
                    Logo nossa equipe cirúrgica entrará em contato para estar lhe enviando mais informações a respeito do seu procedimento, juntamente com orientações pré e pós operatórias.
                </p>
            </span>

            <span>
                Em caso de dúvidas, nosso suporte está à disposição para esclarecimentos! 
            </span>
            <span>
                contato@ocularlaserbrasil.com
            </span>
        </div>
    </div>
</body>
</html>